<div class="sidebar">
  {% if user.is_authenticated %}
    <p>
      <a href="{% url 'driver-detail' user.id %}">{{ user.username }}</a>
    </p>

    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
  {% else %}
    <p>Anonymous</p>
    <a href="{% url 'login' %}">Login</a>
  {% endif %}

  <hr>

  <ul>
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'manufacturer-list' %}">Manufacturers</a></li>
    <li><a href="{% url 'car-list' %}">Cars</a></li>
    <li><a href="{% url 'driver-list' %}">Drivers</a></li>
  </ul>
</div>

